/*// PRIMARY STYLES ----------------------- */

body{
  position:relative;
  width:100%; height:100%;
  background-color:$white;
  color:$black;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
}

a{
  text-decoration:none;
  color:$black;
  webkit-tap-highlight-color: rgba(0,0,0,0);
}